.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: #e0e0eb;
  overflow: auto;
}
body {
  background-color: #33334d;
}
.clearfix {
  overflow: auto;
}
* {
  box-sizing: border-box;
}
@media (min-width: 500px) {
.column-one {
  float: left;
  width: 67%;
  padding-right: 15px;
}
.column-two {
  float: right;
  width: 33%;
  padding-left: 5px;
}
.image {
  float: left;
  width: 100%;
  padding: 10px;
}
}
a:link {
  color: #b366ff;
}
a:visited {
  color: #b366ff;
}
h3 {
  font-weight: normal;
  margin-bottom: 2px;
  font-family: Georgia, Times, "Times New Roman", serif;
}
h2 {
  margin-top: 0px;
  font-size: 24px;
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
}
h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
}
.border-line {
  border-bottom: 5px;
  border-color: #E8E8E8;
  border-style: solid;
  border-top: 0px;
  margin-bottom: 35px;
  padding-bottom: 20px;
}
#slide {
  padding: 5px;
  background-color: #b366ff;
}
